@media (max-width: 1700px) {
  form {
    width: 30%;
  }

  .label {
    margin: -10px 0px -10px 30px;
  }
}

@media (max-width: 1500px) {
  form {
    width: 40%;
  }
}

@media (max-width: 1200px) {
  form {
    width: 50%;
  }

  .label {
    margin: -5px 0px -5px 30px;
  }
}

@media (max-width: 992px) {
  form {
    width: 60%;
  }

  .label {
    margin: -15px 0px -15px 30px;
  }

  .cookies p {
    font-size: 12px;
  }

  .cookies button {
    height: 40px;
    font-size: 14px !important;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 768px) {
  form {
    width: 80%;
  }

  .input_class {
    width: 90%;
    height: 20px !important;
    margin-left: 5%;
    font-size: 25px;
    align-items: center;
    border-radius: 15px;
  }

  .label {
    margin: -10px 0px -10px 30px;
  }

  .cookies p {
    font-size: 12px;
  }

  .cookies button {
    height: 40px;
    font-size: 14px !important;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 500px) {
  body {
    padding: 3% 0% 3% 0%;
  }

  form {
    width: 90%; /* Use 90% width for small screens */
    padding: 0px; /* Reduce padding for more space */
    height: 100%;
  }

  .input_class_submit {
    width: 40%;
    height: 40px;
    margin-left: 30%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 30px;
    align-items: center;
    background-color: rgb(16, 183, 80);
    border-radius: 15px;
    cursor: pointer;
  }


  .form-control {
    height: 30px !important; /* Smaller input fields */
    font-size: 14px !important; /* Adjust font size for better readability */
  }

  .logo {
    width: 90px; /* Reduce logo size */
    height: 90px;
    margin: 10px auto; /* Reduce logo margin */
  }

  .label {
    font-size: 20px;
    padding: 0;
  }

  label {
    font-size: 14px;
  }

  .input_class_submit {
    height: 30px;
    font-size: 16px;
    border-radius: 10px;
  }

  .description{
    font-size: smaller;
    font-weight: 0px;
    text-align: justify;
  }

  .form-check-label {
    font-size: 11px !important;
  }

  .cookies {
    padding: 5px 0px 5px 0px;
  }

  .cookies p {
    line-height: 15px;
  }

  .error, .success {
    font-size: 12px;
  }
  
}
